<section class="flex justify-center items-center mt-52 flex-col">
  <div class="bg-zinc-600 p-5 space-y-3 w-80 rounded-md">
    <label for="email">Digite o email utilizado na sua conta</label>
    <input
      class="rounded-md w-full h-9 pl-2 focus:outline-none"
      id="email"
      type="text"
      [(ngModel)]="email"
      placeholder="Email"
    /><br />
    <button
      class="bg-zinc-800 w-full p-2 rounded-md focus:outline-none"
      (click)="forgotPassword()"
    >
      Enviar
    </button>
  </div>
  <p class="flex justify-center mt-2" *ngIf="message">{{ message }}</p>
</section>
