<div class="mx-auto w-80 sm:w-[43em] h-16 flex items-center mt-4 mb-15 sm:mb-12 justify-between ">
    <a class="text-zinc-200 text-lg block" href="">ContaMente</a>
    
    <div class="flex items-center space-x-4">
        <button *ngIf="!authService.isAutenticado" class="focus:outline-none border border-gray-400 rounded px-4 py-1 " type="button" label="Login" (click)="login()">Login</button>
        <button *ngIf="!authService.isAutenticado" class="focus:outline-none border border-gray-400 rounded px-4 py-1" type="button" label="Cadastro" (click)="cadastro()">Cadastro</button>
        
        <div class="flex" (click)="menu.toggle($event)" *ngIf="authService.isAutenticado">
            <div>
                Hello 👋 <br>
                <div class="font-semibold">{{usuarioLogado.name}}</div>
            </div>
            <img class="h-12 w-12 ml-2 object-cover rounded-md" src="duende.png" alt="">

            <p-menu #menu [model]="items" styleClass="panel" [popup]="true"/>
        </div>
    </div>
</div>