<p-dialog header="Adicionar categoria" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
    <form (ngSubmit)="OnCreateCategoriaSubmit()" #categoriaForm="ngForm" class="p-4 text-base w-full">
        <div class="mb-2 flex items-center">
            <div class="flex-grow mr-2">
                <label for="nome">Nome:</label><br>
                <input class="w-full h-11 mb-1 min-h-11 p-2" id="nome" name="nome" pInputText [(ngModel)]="categoria.nome">
            </div>

            <div class="flex-shrink-0">
                <label for="entrada">Entrada:</label><br>
                <p-inputSwitch id="entrada" name="entrada" [(ngModel)]="categoria.entrada"></p-inputSwitch>
            </div>
        </div>

        <div class="flex justify-center">
            <button class="bg-emerald-600 hover:bg-emerald-700 transition cursor-pointer text-white px-3 text-lg py-2 rounded-md mt-7" type="submit" [disabled]="!categoriaForm.form.valid">Adicionar Categoria</button>
        </div>
    </form>
</p-dialog>