<section class="flex justify-center items-center mt-52">
    <div class="bg-zinc-600 p-5 space-y-3 w-80 rounded-md">    
        <input class="rounded-md w-full h-9 pl-2 focus:outline-none" type="text" [(ngModel)]="email" placeholder="Email"><br>
        <input class="rounded-md w-full h-9 pl-2 focus:outline-none" type="password" [(ngModel)]="password" placeholder="Password"><br>
        <button class="bg-zinc-800 w-full p-2 rounded-md focus:outline-none" (click)="login()">Login</button>
    </div>
</section>