@import "../node_modules/ngx-toastr/toastr.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "primeng/resources/themes/lara-dark-blue/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .dia {
        @apply w-1/6 h-[80vh] border p-3;
    }

    .landing-card {
        @apply w-60;
    }

    .landing-illustration {
        @apply bg-red-400 w-60 h-60 mb-4;
    }
}

@layer utilities {
    .panel {
        @apply bg-element shadow-zinc-900 shadow-lg;
    }
    .minor-button {
        @apply transition cursor-pointer
        bg-ground 
        hover:bg-grounddarker 
        active:bg-grounddarker 
        ;
    }

    .botaoSimples {
        @apply bg-;
    }
}

.p-inputtext:focus,
.p-inputnumber-input:focus,
.p-dropdown:focus,
.p-calendar input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}