<div>
  <div class="flex flex-col w-72 m-auto justify-center bg-zinc-600 p-6 rounded-md mt-52">
    <h2 class="flex justify-center mb-5 text-xl">Redefinir Senha</h2>

    <form class="flex flex-col gap-3" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label for="newPassword">Nova Senha</label>
        <input class="rounded-md w-full h-9 pl-2 focus:outline-none" type="password" id="newPassword" formControlName="newPassword" required>
        <small class="flex justify-center" *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">Campo obrigatório</small>
        <small class="flex justify-center" *ngIf="resetPasswordForm.controls['newPassword'].errors?.['minlength']">Mínimo 6 caracteres</small>
      </div>

      <div class="flex flex-col">
        <label for="confirmPassword">Confirme a Senha</label>
        <input class="rounded-md w-full h-9 pl-2 focus:outline-none" type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <small class="flex justify-center" *ngIf="resetPasswordForm.errors?.['mismatch']">As senhas não coincidem</small>
      </div>

      <button class="bg-zinc-800 w-full p-2 rounded-md focus:outline-none" type="submit" [disabled]="resetPasswordForm.invalid">Redefinir Senha</button>
    </form>
  </div>
  <p class="flex justify-center mt-2" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>